// Primary

$color-primary-intro : hsl(217, 28%, 15%); //(intro and email sign up background)
$color-primary-main : hsl(218, 28%, 13%); //(main background)
$color-primary-footer : hsl(216, 53%, 9%); //footer background)
$color-primary-testimonials : hsl(219, 30%, 18%); //(testimonials background)


$color-secondary-1 : hsl(176, 68%, 64%); //(inside call-to-action gradient)
$color-secondary-2 :  hsl(198, 60%, 50%); //(inside call-to-action gradient)

$color-error: hsl(0, 100%, 63%); //error

$color-white: hsl(0, 0%, 100%); //white



$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;