.features {
    margin-top: 12rem;

    &__element {
        text-align: center;

        &--icon {
            margin-bottom: 1rem;

            @include respond(tab-port) {
                width: 8rem;
            }

        }

        &--paragraph {
            font-size: 1.4rem;
            padding: 2rem 10rem;
            text-align: center;

            @include respond(tab-port) {
                padding: 1rem;
                font-size: 2rem;
                line-height: 2;
                margin-right: 3rem;
            }


        }
    }

    .col-1-of-2 {
        margin-bottom: 10rem;
    }
}











.features2 {
    margin-top: 10rem;


    &__image {
        width: 95%;
    }


    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-port) {
            display: block;
        }

    }
}

.features2__element {
    a {
        text-decoration: none;
        color: $color-secondary-1;
        border-bottom: 1px solid $color-secondary-1;
        padding-bottom: 1rem;
        transition: all .3s;

        &:hover {
            color: $color-white;
            background-color: $color-secondary-1;
        }
    }

    h2 {
        margin-bottom: 3rem;

        @include respond(phone) {
            margin-top: 5rem;
        }


    }

    p {
        line-height: 1.5;
        font-size: 1.4rem;

        @include respond(tab-port) {
            font-size: 2rem;
            line-height: 2;
        }

        br {
            @include respond(tab-port) {
                display: none;
            }

        }

    }
}